<!DOCTYPE html>
<html>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>公司管理</title>
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
	<script type="text/javascript" src="../js/base_pagination.js"></script>

	<script type="text/javascript" src="../js/service/companyService.js"></script>
	<script type="text/javascript" src="../js/controller/companysController.js"></script>
	<script type="text/javascript" src="../js/controller/companyController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="yizhigou" ng-init="settypes(4)" ng-controller="companyController">
<!-- .box-body -->

<div class="box-header with-border">
	<h3 class="box-title">公司管理
	</h3>
</div>

<div class="box-body">
	<ol class="breadcrumb">
		<li>
			<a href="#" ng-click="grade=1;selectList({id:0})">面试公司列表</a>
		</li>
		<li>
			<a href="#" ng-click="grade=2;selectList(entity_1)">{{entity_1.corporate}}</a>
		</li>

	</ol>
	<!-- 数据表格 -->
	<div class="table-box">

		<!--工具栏-->
		<div class="pull-left" ng-if="grade!=2">
			<div class="form-group form-inline">
				<div class="btn-group">
					<button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建</button>
					<button type="button" class="btn btn-default" title="删除"  ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
					<button type="button" class="btn btn-default" title="刷新"><i class="fa fa-check"></i> 刷新</button>

				</div>
				<!--工具栏-->

			</div>

		</div>
		<div class="pull-left" ng-if="grade==2">
			<div class="form-group form-inline">
				<div class="btn-group">
					<button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal1" ng-click="entity={}"><i class="fa fa-file-o"></i> 新建</button>
					<button type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除</button>
					<button type="button" class="btn btn-default" title="刷新"><i class="fa fa-check"></i> 刷新</button>

				</div>
				<!--工具栏-->

			</div>

		</div>
		<div class="box-body">
			<div class="box-tools pull-right">
				<div class="has-feedback">
					公司名称：<input ng-model="searchEntity.corporate" ng-if="grade==1">

					<button type="button" class="btn btn-default" ng-click="search4(paginationConf.currentPage,paginationConf.itemsPerPage)" >查询</button>
				</div>
			</div>
		</div>


		<!--数据列表-->
		<table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			<thead>
			<tr ng-if="grade!=2">
				<th class="" style="padding-right:0px">
					<input type="checkbox" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">公司ID</th>
				<th class="sorting">公司名称</th>
				<th class="sorting">公司简介</th>
				<th class="sorting">创建时间</th>
				<th class="sorting">修改时间</th>

				<th class="text-center">操作</th>
			</tr>
			<tr ng-if="grade==2">
				<th class="" style="padding-right:0px">
					<input id="selall" type="checkbox" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">知识点ID</th>
				<th class="sorting">知识点标题</th>
				<th class="sorting">创建日期</th>
				<th class="sorting">更新日期</th>
				<th class="sorting">点击量</th>

				<th class="text-center">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="entity in list" ng-if="grade!=2">

				<td><input type="checkbox"  ng-click="updateSelection($event,entity.companyId)"></td>
				<td>{{entity.companyId}}</td>
				<td>{{entity.corporate}}</td>
				<td>{{entity.companyinfo}}</td>
				<td>{{entity.createTime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
				<td>{{entity.updateTime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
				<td class="text-center">
					<!--ng-click="selectList(paginationConf.currentPage,paginationConf.itemsPerPage,entity)"-->

					<button type="button" class="btn bg-olive btn-xs" ng-click="setgrade(grade+1);selectList(paginationConf.currentPage,paginationConf.itemsPerPage,entity)"> 查看公司面试题</button>
					<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)">修改</button>
					<button type="button" class="btn bg-olive btn-xs" ng-click="del(entity.companyId)">删除</button>
				</td>
			</tr>
			<tr ng-repeat="entity in list" ng-if="grade==2">
				<td><input type="checkbox"></td>
				<td>{{entity.titleId}}</td>
				<td>{{entity.title}}</td>
				<td>{{entity.createtime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
				<td>{{entity.updatetime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
				<td>{{entity.asknum}}</td>
				<td class="text-center">
					<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#sellerModal" ng-click="findOne(entity.titleId)">详情</button>

					<button type="button" class="btn bg-olive btn-xs">删除</button>
				</td>
			</tr>

			</tbody>
		</table>
		<!--数据列表/-->
		<tm-pagination conf="paginationConf"></tm-pagination>

	</div>
	<!-- 数据表格 /-->

</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<center>
					<h3 id="myModalLabel">公司分类编辑</h3></center>
			</div>
			<div class="modal-body">

				<table class="table table-bordered table-striped" width="800px">
					<tr>
						<td>公司名称</td>
						<td><input class="form-control" placeholder="公司名称" ng-model="entity.corporate"> </td>
					</tr>
					<tr>
						<td>公司介绍</td>
						<td>
							<input select2 config="options['type_template']" placeholder="公司介绍" ng-model="entity.companyinfo" class="form-control" type="text" />
						</td>
					</tr>
				</table>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveCompany(entity)">保存</button>
			</div></div></div></div>
<div class="modal fade" id="editModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<center>
					<h3 id="myModalLabe2">面试题编辑</h3></center>
			</div>
			<div class="modal-body">

				<table class="table table-bordered table-striped" width="800px">
					<tr>
						<td>知识点标题</td>
						<td>
							<input class="form-control" placeholder="知识点标题" ng-model="entity.title">
							<input class="form-control" type="hidden" ng-model="entity.companyId">
						</td>
					</tr>

					<tr>
						<td>知识点描述</td>
						<td>
							<!--<input select2 config="options['type_template']" placeholder="知识点描述" ng-model="entity.typeId" class="form-control" type="text" />-->
							<textarea style="width: 500px; height: 300px;"
									  name="titleDesc" ng-model="entity.titleDesc"></textarea>
						</td>
					</tr>
				</table>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="saveTitleDesc()">保存</button></div></div></div></div>
<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<center>
					<h3 id="myModalLabe3">面试题详情</h3></center>
			</div>
			<div class="modal-body">

				<table class="table table-bordered table-striped" width="800px">
					<tr>
						<td>知识点标题</td>
						<td>
							<input class="form-control" placeholder="知识点标题" ng-model="entity.title">

						</td>
					</tr>

					<tr>
						<td>知识点描述</td>
						<td>
							<!--<input select2 config="options['type_template']" placeholder="知识点描述" ng-model="entity.typeId" class="form-control" type="text" />-->
							<textarea style="width: 500px; height: 300px;"
									  name="titleDesc" ng-model="entity.titleDesc"></textarea>
						</td>
					</tr>
				</table>

			</div></div></div></div>